/* src/pages/HeroPage.css */
.hero-container {
  /* background-image: url('path/to/background-image.jpg'); Замените на реальный путь к изображению (из assets или URL) */
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  position: relative;
  padding: 10px 64px;
  padding-bottom: 0;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Легкое затемнение для читаемости текста */
}
.hero-content {
  position: relative;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.hero-content h1 {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 20px;
  color: white;
  margin: auto 122px;
}

.hero-button {
  background-color: #43AB9D;
  color: white;
  border: none;
  padding: 21px 71px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.hero-button:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
span.accent {
  font-family: 'Novelist';
  font-weight: 500;
  color: var(--accent-light);
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 32px;
  }
}