.user-dashboard-wrapper {
  min-height: calc(100vh - 80px);
  padding: 0 0 40px;
}

/* HEADER */
.user-dashboard-header {
  background-color: #D9D9D9;
  padding: 20px 64px 0 64px;
  height: 40vh;
  display: flex;
  flex-direction: column-reverse;
}

.user-dashboard-header-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 8px;
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 30px 24px;
}

.user-dashboard-header-name {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
}

.user-dashboard-header-contacts {
  gap: 24px;
  font-size: 1.0625rem;
  color: #555;
}

.user-dashboard-header-contacts span {
  font-weight: 400;
}

/* MAIN LAYOUT */
.user-dashboard-main-content {
  display: flex;
  padding: 0 64px;
}

/* SIDEBAR */
.user-dashboard-sidebar {
  width: 250px;
  flex-shrink: 0;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 8px 0 0 8px;
  border-right: none;
  padding: 34px 16px;
  height: fit-content;
  position: sticky;
  top: 100px;
}

.user-dashboard-sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-dashboard-sidebar-item {
  font-size: 1rem;
  font-weight: 600;
  color: #444;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 4px;
  transition: all 0.2s;
}
.user-dashboard-sidebar-item .sidebar-link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}
.user-dashboard-sidebar-item:hover .sidebar-link {
  color: #000;
  background-color: #f5f5f5;
}

.user-dashboard-sidebar-item:hover {
  color: black;
}

.user-dashboard-sidebar-item.logout-item {
  color: #e74d3c8f;
  margin-top: 20px;
}
.user-dashboard-sidebar-item.logout-item:hover {
  color: #e74c3c;
}