/* src/components/ServicesSlider.css */
.services-section {
  padding: 32px 64px;
  margin: 0 auto;
}

.services-slider {
  min-height: 500px;
  overflow: hidden;
  padding-bottom: 2px;
}

.services-slider__container {
  display: flex;
  gap: 24px;
  touch-action: pan-y pinch-zoom;
}

.service-card {
  flex: 1 0 calc((100% - 24px*3) / 4);
  max-width: 375px;
  min-height: 480px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.05);
}
.service-card-bottom {
  display: flex;
  height: fit-content;
  gap: 8px;
  justify-content: space-between;
  align-items: end;
}

.service-card:hover {
  border: 2px solid var(--accent-dark);
}

.service-card__image-placeholder {
  height: 220px;
  background: #f0f0f0;
}

.service-card__image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-card__content {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  justify-content: space-between;
  box-sizing: border-box;
  flex-grow: 1;
}

.service-card__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;
  height: 50px;
}

.service-card__description {
  font-size: 0.9375rem;
  color: #555;
  line-height: 1.45;
  margin: 0;
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.service-card__price {
  font-size: 0.96875rem;
  font-weight: 700;
  color: var(--accent-filters);               /* твой акцентный цвет */
  margin: 8px 0;
}

.service-card__button {
  background-color: white;
  color: black;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 0.9375rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  text-transform: uppercase;
  margin: 0;
  max-height: max-content;
  box-sizing: border-box;
  border: 1px solid var(--accent-light);
}

.service-card__button:hover {
  background: none;
  color: var(--accent-dark);
  border: 1px solid var(--accent-dark);
}

/* Responsive — показываем меньше карточек на мобильных */
@media (max-width: 1024px) {
  .service-card {
    flex: 0 0 280px;
  }
}

@media (max-width: 768px) {
  .service-card {
    flex: 0 0 85%;              /* почти на всю ширину экрана */
  }
}

@media (max-width: 480px) {
  .service-card {
    flex: 0 0 92%;
  }
}