/* src/components/FilterBar.css */

.filter-bar {
  display: flex;
  flex-wrap: wrap;                /* важно для responsivity */
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 24px 32px;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  bottom: 0;
  position: relative;
  z-index: 10;                    /* чтобы форма была поверх фона */
  pointer-events: auto;
  width: 100%;
  box-sizing: border-box;
  gap: 24px;
}

.filter-item {
  border: 1px solid var(--accent-filters);
  border-radius: 15px;
  background: white;
  overflow: hidden;
  transition: all 0.2s ease;
  width: 215px;
  box-sizing: border-box;
  height: 55px;
}
.filter-item.container {
  border: none;
  background: none;
  display: flex;
  gap: 24px;                  /* расстояние между "от" и "до" */
  padding: 0;                 /* убираем любой внутренний отступ */
  margin: 0;
  pointer-events: none;
  flex: 0 1 284px;
}
.filter-item.inner {
  width: 130px;
  border: 1px solid var(--accent-filters);
  border-radius: 15px;
  background: white;
  overflow: hidden;
  padding: 10px 16px;
  pointer-events: all;
}
.filter-item.inner input,
.filter-item.inner select {
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  outline: none;
}
.filter-item.inner:hover {
  border-color: #43AB9D;
  box-shadow: 0 0 0 3px rgba(67, 171, 157, 0.15);
}
.filter-item.long-input {
  width: calc(215px*2 + 24px);
}

.filter-item select,
.filter-item input {
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  outline: none;
  appearance: none;               /* убираем стандартную стрелку у select */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* Для инпутов с плейсхолдером */
.filter-item input::placeholder {
  color: #aaa;
  text-align: center;
}

/* hover-эффект */
.filter-item:hover {
  border-color: #43AB9D;
  box-shadow: 0 0 0 3px rgba(67, 171, 157, 0.15);
}

.search-button {
  width: calc((130px*2) + 24px);
  box-sizing: border-box;

  background: #43AB9D;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s;
  text-transform: uppercase;
  height: 55px;
}

.search-button:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.link-item {
  border: 2px solid var(--gray-border);
  padding: 10px 16px;
  border-radius: 15px;
  margin: 0;
  box-sizing: border-box;
  height: 55px;
  transition: all 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-item:hover {
  border-color: var(--accent-filters);
}
.link-item a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all 0.5s;
}
.link-item a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.link-item:hover a{
  color: var(--accent-filters);
}
.link-item.catalog {
  width: calc(215px + 24px + 130px);
}
.link-item.map {
  width: 130px;
}
.map-icon {
  stroke: black;
  fill: none;
  transition: all 0.2s;
}

.link-item.map:hover .map-icon {
  transform: scale(1.15);
  color: var(--accent-filters) !important;
}